html,body{
    height:100%;
    width:100%;
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
}
.fa-code{
    color: orange;
    font-size: 50px;
    margin: 15px;
}
.fa-bold{
    color: purple;
    font-size: 50px;
    margin: 15px;
}
.fa-css3 {
    color: blue;
    font-size: 50px;
    margin:  15px;
}
.social a {
    font-size: 30px;
    padding: 40px;
}
h2 {
    margin-top: 75px; 
}
footer{
    background-color:rgb(91, 92, 83);
    color: white;
    padding-top: 20px;
}
